body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

#container {
    display: grid;
    border-left: 75px;
    border-right: 75px;
    border-style: solid;
    border-color: red;
    background-color: aquamarine;
    box-shadow: inset 0 0 15px black;
    width: 550px;
    height: 550px;
}

.grid-item {
    display: flex;
}


#top-border, #bottom-border {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: red;
   height: 75px;
   width: 700px;
}

#top-border {
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
}

#title {
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 35px;
}

#bottom-border {
    justify-content: space-between;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    
}

#left-button, #right-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    background-color: white;
    color: red;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 0 0 11px black;
}

#left-button:hover {
    opacity: .8;
}

#slider-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#pixel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#small-pixel {
    background-color: white;
    width: 5px;
    height: 5px;
}

#size-output {
    color: white;
    font-family: cursive;
}

#big-pixel {
    background-color: white;
    width: 10px;
    height: 10px;
}

#footer {
    font-family: cursive;
    display: flex;
    gap: 5px;
    margin-top: 25px;
}

#logo {
    width: 25px;
    height: 25px;
}
